@font-face {
    font-family: "vazir";
    src: url("../fonts/eot/Vazir-Thin.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/woff2/Vazir-Thin.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/woff/Vazir-Thin.woff") format("woff"), /* Pretty Modern Browsers */ url("../fonts/ttf/Vazir-Thin.ttf") format("truetype");
    /* Safari, Android, iOS */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "vazir", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

/* Helper */

/* Flex helpers */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* Padding Margin helper  */
.pt-10 {
    padding-top: 1rem;
}

.pb-10 {
    padding-bottom: 1rem;
}

.pt-20 {
    padding-top: 2rem;
}

.pb-20 {
    padding-bottom: 2rem;
}

/* Margin */
.mt-20 {
    margin-top: 2rem;
}

.mb-20 {
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 992px) {
    .show-small {
        display: block;
    }
}

@media only screen and (min-width: 993px) {
    .show-large {
        display: block;
    }
}
