/*L1 lists ul*/
.nav__lists {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .nav__lists {
        display: none;
    }
}

/*L1 list li*/
.nav__list {
    position: relative;
    display: block;
    padding: 1.3rem;
    transition: all 0.3s ease-in-out;
}

.nav__list:hover > ul.nav__sublists1 {
    transform: scale(1);
}

/*L1 link a*/
.nav__link {
    padding: 1.3rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav__link:hover {
    color: #3c4858;
}

.nav__link::after {
    content: "";
    position: absolute;
    width: 0%;
    bottom: 0;
    left: 50%;
    border-radius: 0.5rem;
    height: 3px;
    background-color: #0d62da;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
}

.nav__link:hover::after {
    width: 100%;
}

/* sublist1 li*/
.nav__sublist1 {
    position: relative;
}

.nav__sublist1 > a i:last-child {
    margin-right: auto;
}

.nav__sublist1:hover > ul.nav__sublists2 {
    transform: scale(1);
}

.nav__sublist1 > a i:last-child {
    margin-right: auto;
}

/*Sublists1 ul*/
.nav__sublists1,
.nav__sublists2 {
    position: absolute;
    width: 20rem;
    background-color: #fff;
    border-top: 0.3rem solid #e76f51;
    border-radius: 0.3rem;
    box-shadow: 0 0 4px rgba(61, 61, 61);
    transform-origin: top right;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    margin-top: 13px;
}

.nav__sublists1 i {
    margin-left: 1rem;
    color: #457b9d;
}

/*Sublists2 ul*/
.nav__sublists2 {
    right: 100%;
    top: 0;
}

/* all submenu links */
.nav__sublists1 a {
    display: flex;
    align-items: center;
    padding: 1.3rem;
    color: #444;
    transition: all 0.3s ease;
}

.nav__sublists1 a:hover {
    padding-right: 1.5rem;
    background-color: #f1f1f1;
    color: #0d62da;
}

/*Arrow*/
.nav__arrow {
    position: absolute;
    top: 40%;
    left: 0;
    width: 7px;
    height: 7px;
    border: 1px solid #3c4858;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;
}

.nav__link:hover > span {
    transform: rotate(225deg);
}

/*Burger Menu*/
.nav__burger-label {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 4rem;
    height: 4rem;
    user-select: none;
    cursor: pointer;
}

@media only screen and (min-width: 769px) {
    .nav__burger-label {
        display: none;
    }
}

.nav__burger-label > span {
    height: 0.5rem;
    border-radius: 0.5rem;
    background: #2196f3;
    transition: all 0.3s cubic-bezier(0.39, -0.69, 0.59, 1.54);
}

.nav__burger-label :nth-child(1) {
    width: 80%;
}

.nav__burger-label > span:nth-child(2) {
    width: 100%;
}

.nav__burger-label :nth-of-type(3) {
    width: 60%;
}

.nav__burger-checkbox:checked ~ .nav__burger-label :nth-child(1) {
    width: 50%;
    transform-origin: bottom;
    transform: rotate(45deg) translate(-1rem, 1.6rem);
}

.nav__burger-checkbox:checked ~ .nav__burger-label > span:nth-child(2) {
    transform: rotate(-45deg);
}

.nav__burger-checkbox:checked ~ .nav__burger-label :nth-of-type(3) {
    width: 50%;
    transform: rotate(45deg) translate(-0.5rem, -0.1rem);
}

.nav__burger-checkbox {
    display: none;
}
