.navbar__search-box {
    width: 20rem;
}

.navbar__nav {
    flex-grow: 1;
}

@media only screen and (max-width: 768px) {
    .navbar {
        position: sticky;
        top: 0;
        box-shadow: 0 0 4px #444444;
    }
}

/* position: sticky => default => relative, moving => fixed */
@media only screen and (max-width: 992px) {
    .navbar__search-box {
        order: 1;
        width: auto;
    }

    .navbar__logo {
        order: 2;
    }

    .navbar__nav {
        flex-grow: 0;
    }
}
