*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Srart Search Button*/

.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid #457b9d;
    transition: width 0.6s cubic-bezier(0.39, -0.69, 0.59, 1.54);
}

.search__form {
    margin-right: auto;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #457b9d;
}

.search__input {
    position: absolute;
    display: none;
    right: 2px;
    width: calc(100% - 50px);
    height: 80%;
    border: none;
    background: none;
    outline: none;
}

.search__input::placeholder {
    color: #999999;
}

.search__btn {
    position: relative;
    width: 30px;
    height: 30px;
    border: 0;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
}

.search__circle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
}

.search__circle::after,
.search__circle::before {
    content: "";
    position: absolute;
    left: 2px;
    border: 5px solid #457b9d;
    transition: all 300ms ease;
    width: 18px;
    height: 9px;
}

.search__circle::before {
    top: 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 0;
}

.search__circle::after {
    top: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 0;
}

.search__stand {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 15px;
    height: 6px;
    background-color: transparent;
    transform: rotate(45deg);
}

.search__stand::before,
.search__stand::after {
    content: "";
    position: absolute;
    top: -1px;
    right: 4px;
    width: 15px;
    height: 6px;
    background-color: #457b9d;
    border-radius: 10px;
    transition: all 300ms ease;
}

/*Focus-Within*/
.search:focus-within {
    width: 200px;
}

.search:focus-within .search__input {
    display: block;
}

.search:focus-within .search__circle {
    top: 4px;
    left: -3px;
}

.search:focus-within .search__circle::after,
.search:focus-within .search__circle::before {
    border-radius: 10px;
    background: #457b9d;
    width: 15px;
    height: 6px;
}

.search:focus-within .search__circle::after {
    transform: rotate(45deg);
}

.search:focus-within .search__circle::before {
    transform: rotate(-45deg);
    top: 4px;
}

.search:focus-within .search__stand {
    top: 15px;
    transform: rotate(0);
}

.search:focus-within .search__stand::after {
    transform: rotate(45deg);
}

.search:focus-within .search__stand::before {
    top: -7px;
    transform: rotate(-45deg);
}

/*End Search Button*/
