*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-stack;
    font-size: 1.5rem;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

ul {
    list-style: none;
}

a {
    color: $color-blue1;
    text-decoration: none;
    transition: color .3s ease;
}

a:hover {
    color: $color-orange1;
}